In [1]:
import pandas as pd

In [2]:
#1

data =[1,2,3,4,5,6]

In [13]:
s=pd.Series(data)

In [10]:
print(s)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [14]:
#2
da1=[1,2,3,4,5,6,7,8,9, 10]
df=pd.Series(da1)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [15]:
df.head(2)

0    1
1    2
dtype: int64

In [16]:
df.tail(4)

6     7
7     8
8     9
9    10
dtype: int64

In [22]:
d=pd.DataFrame({'arhaan':df})

In [29]:
d.tail(3)

   arhaan
7       8
8       9
9      10

In [30]:
d.dtypes

arhaan    int64
dtype: object

In [32]:
type(d)

pandas.core.frame.DataFrame

In [51]:
3 #dataFrame


d=['alice','bob','sid']
d2=[25,30,27]
d2=pd.Series(d2)
d=pd.Series(d)
d3=['F','M','M']
d3=pd.Series(d3)
df=({'name':d,'age':d2,'Gender':d3})

In [48]:
d=pd.DataFrame(df)

In [50]:
print(d)

    name  age Gender
0  alice   25      F
1    bob   30      M
2    sid   27      M

In [ ]:
## 4

#DataFrame in Pandas is a 2-dimensional labeled data structure with columns of potentially different types, similar to a spreadsheet.
#It can be thought of as a collection of Series.

#A Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type. It represents a single column of a DataFrame.

5
head() and tail(): These functions allow you to view the first or last n rows of a DataFrame. They are useful for quickly inspecting the data.

info(): This function provides a concise summary of the DataFrame, including the data types of each column and the number of non-null values.

describe(): This function computes summary statistics for numerical columns, such as count, mean, std, min, max, etc. It is helpful for getting an overview of the numerical data.

value_counts(): This function counts the occurrences of each unique value in a column. It is useful for understanding the distribution of values in a categorical column.

groupby(): This function is used to group the data in a DataFrame based on one or more columns. It is often used in conjunction with aggregation functions like sum(), mean(), count(), etc., to perform group-wise operations.

apply(): This function applies a function along an axis of the DataFrame. It is useful for applying custom transformations to the data.

merge(): This function is used to merge two DataFrames based on a common column or index. It is useful for combining data from multiple sources.

pivot_table(): This function creates a spreadsheet-style pivot table as a DataFrame. It is useful for summarizing and aggregating data in a DataFrame.

sort_values(): This function sorts the DataFrame by the values in one or more columns. It is useful for sorting the data based on a specific criterion.

fillna(): This function fills missing values in the DataFrame with a specified value or method. It is useful for handling missing data.

6
A DataFrame in Pandas is a 2-dimensional labeled data structure with columns of potentially different types. It can be thought of as a table in a relational database or a spreadsheet. Each column in a DataFrame is a Series.

A Series, on the other hand, is a one-dimensional labeled array that can hold data of any type (integer, string, float, etc.). It is similar to a single column in a spreadsheet or a single variable in a database table.
pannel  handle 3-dimensional data, similar to how DataFrame handles 2-dimensional data. However, due to its limited use and complexity, it was deprecated in favor of using MultiIndex DataFrames or xarray for handling 3-dimensional data.

In [52]:
#7
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'], name='Name')
age_series = pd.Series([25, 30, 27], name='Age')
gender_series = pd.Series(['Female', 'Male', 'Female'], name='Gender')

# Creating a DataFrame using the Series
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'Gender': gender_series})

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female